<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.google.android.overlay.pixelconfigcommon">
    <overlay android:targetPackage="android"
             android:isStatic="true"
             android:priority="1"/>
    <application android:hasCode="false" />
</manifest>
