<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.settings.overlay.sunfish">
    <application android:hasCode="false" android:usesNonSdkApi="true"/>
    <overlay android:targetPackage="com.android.settings"
             android:priority="10"
             android:isStatic="true"/>
</manifest>
